@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background: url('game_center.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

header{
    margin: 20px;
    color: white;
    text-align: center;
}

main{
    font-weight: bold;
    width: 50vw;
    margin: auto;
    color: white;
}

#box{
    display: flex;
    background-color: rgba(0,250,250,0.1);
    padding: 20px;
    justify-content: center;
}

#name, #email, #number{
    width: 44vw;  
    margin: 10px 0;
    height: 30px;
    border-radius: 5px;
}

::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

select{
    width: 45vw;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
    margin: 10px 0;
    padding-left: 10px;
}

#submit{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: aqua;
    border-style: none;
    margin: 10px 0;
    width: 45vw;
    padding: 10px 0;
}

textarea{
    width: 44vw;
    height: 20vh;
}

@media only screen and (max-width: 800px){
    *{
        font-size: 12px;
    }
}